---
export const prerender = false
import BaseLayout from '../../layouts/BaseLayout.astro'
import AdminNav from '../../components/AdminNav.astro'
import AdminContent from '../../components/islands/AdminContent'
---

<BaseLayout title="Blog-Content" noIndex>
  <div class="py-12">
    <AdminNav title="Blog-Content" />
    <AdminContent client:load />
  </div>
</BaseLayout>
