---
export const prerender = false
import BaseLayout from '../../layouts/BaseLayout.astro'
import AdminNav from '../../components/AdminNav.astro'
import AdminGlossar from '../../components/islands/AdminGlossar'
---

<BaseLayout title="Glossar-Statistiken" noIndex>
  <div class="py-12">
    <AdminNav title="Glossar-Statistiken" />
    <AdminGlossar client:load />
  </div>
</BaseLayout>
